/*General Settings*/
.wrapper {
    height: 10000px;
    width: 100%;
    margin: 0 auto;
}

h1, h2, h3, h4, h6 {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    font-weight: bold;
}

p {
    font-family: 'Open Sans', sans-serif; 
}

.text-center {
    text-align: center;
}

.jumbotron {
    margin-top: 10%;
}

.glyphicon-size-big {
    font-size: 20pt;
}

.glyphicon-size-large {
    margin-top: 10px;
    font-size: 30pt;
}
/*General Settings End*/

/*Navbar Settings*/
.navbar-brand {
    float: left;
}

.header-navbar-collapse {
    padding: 10px;
    background: rgba(0,0,0,0.8)!important;
}

.navbar-nav:hover {
    color: #ff5e00;
}
/*Navbar Settings End*/

/*Social Sidebar*/
.social-sidebar {
    height: 275px;
    z-index: 1;
    position: fixed;
    top: 300px;
    width: 60px;;
}

.social-list {
    list-style-type: none;
}

.facebook {
    margin-left: -40px;
    background-color: #24499a;
    opacity: 0.7;
    -webkit-transition: all .7s ease;
    -moz-transition: all .7s ease;
    -ms-transition: all .7s ease;
    -o-transition: all .7s ease;
    transition: all .7s ease;
}

.google {
    margin-left: -40px;
    background-color: #e34426;
    opacity: 0.7;
    -webkit-transition: all .7s ease;
    -moz-transition: all .7s ease;
    -ms-transition: all .7s ease;
    -o-transition: all .7s ease;
    transition: all .7s ease;
}

.twitter {
    margin-left: -40px;
    background-color: #6ddfea;
    opacity: 0.7;
    -webkit-transition: all .7s ease;
    -moz-transition: all .7s ease;
    -ms-transition: all .7s ease;
    -o-transition: all .7s ease;
    transition: all .7s ease;
}

.pinterest {
    margin-left: -40px;
    background-color: #bd2125;
    opacity: 0.7;
    -webkit-transition: all .7s ease;
    -moz-transition: all .7s ease;
    -ms-transition: all .7s ease;
    -o-transition: all .7s ease;
    transition: all .7s ease;
}

.facebook:hover,
.google:hover,
.twitter:hover,
.pinterest:hover{
    padding-left: 15px;
    opacity: 0.7;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
/*Social Sidebar End*/

/*Navbar Settings*/
nav {
    font-family: 'Open Sans', sans-serif;
    font-size: 12.1pt;
    letter-spacing: .09px;
    font-weight: bold;
}

.navbar-nav > li{
  margin-left: 8px;
  margin-right: 8px;
}
/*Navbar Settings End*/

/*Footer Settings*/
.footer {
    width: 100%;
    opacity: 0.9;
    padding-top: 20px;
    background-color: #2E3884;
    color: #9d9d9d;
}
.footer-social {
    padding-top: 20px;
    float: right;
    list-style: none;
}
.footer-social a {
    font-size: 13pt;
    text-decoration: none;
    margin: 7px;
}
.footer-social li {
    display: inline;
}
.footer-content {
    color: #fff;
    font-size: 12pt;
}
.footer-logo {
    padding-left: 50px;
}
/*Footer Settings End*/

/*Horizontal Rule Custom Style*/
.hr-style2 {
    border: 0;
    height: 1px;
    width: 75%;
    background-image: 
    -webkit-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0)); 
    background-image:    
    -moz-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0)); 
    background-image:     
    -ms-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0)); 
    background-image:      
    -o-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0)); 
}

.hr-style {
    border: 0;
    height: 1px;
    background-image: 
    -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    
    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     
    -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      
    -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}
/*Horizontal Rule Custom Style End*/

/*Logo Effects*/
.logo {
  opacity: 1;
  -webkit-transition: all.2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.logo:hover {
  opacity: 0.7;
  -webkit-transition: all.2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
/*Logo Effects End*/

/*White/Orange Text Effects*/
.text-effect {
    -webkit-transition: all.2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    color: #fff;
}

.text-effect:hover {
    -webkit-transition: all.2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    color: #ff5e00;
}
/*White/Orange Text Effects End*/

/*Button Effects*/
.button_sliding {
    border-style: none;
    color: #fff;
    background: #ff5e00;
    padding: 15px 20px;
    margin: 25px;
    font-family: 'OpenSansBold', sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    display: inline-block;
    text-align: center;
    box-shadow: inset 0 0 0 0 #DB611A;
	-webkit-transition: all ease 0.6s;
	-moz-transition: all ease 0.6s;
	transition: all ease 0.6s;
}
.button_sliding:hover {
    box-shadow: inset 0 -100px 0 0 #DB611A;
}
/*Button Effects*/

/*Come in effect*/
.come-in {
  transform: translateY(25px);
  animation: come-in 1.2s ease forwards;
}
.come-in:nth-child(odd) {
  animation-duration: 1s;
}

@keyframes come-in {
  to { transform: translateY(0); }
}
/*Come in effect end*/

/*About page CSS*/

.about-css {
    margin-top: 10%;
    text-align: center;
}

.about-row {
    margin-top: 5%;   
}

.hr-space {
    margin-top: 75px;
    margin-bottom: 75px;
}

.about-shrink {
    margin-right: 25%;
    margin-left: 25%;
}
/*About page CSS End*/