/*General Settings*/
.wrapper {
    height: 10000px;
    width: 100%;
    margin: 0 auto;
}

h1, h2, h3, h4, h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
}

p {
    font-family: 'Open Sans', sans-serif; 
}

.text-center {
    text-align: center;
}

.jumbotron {
    margin-top: 10%;
}

.glyphicon-up-size {
    font-size: 20pt;
}
/*General Settings End*/

/*Navbar Settings*/
.navbar-brand {
    float: left;
}

.header-navbar-collapse {
    padding: 10px;
    background: rgba(0,0,0,0.8)!important;
}

.navbar-nav:hover {
    color: #ff5e00;
}
/*Navbar Settings End*/

/*Social Sidebar*/
.social-sidebar {
    height: 275px;
    z-index: 1;
    position: fixed;
    top: 300px;
    width: 60px;;
}

.social-list {
    list-style-type: none;
}

.facebook {
    margin-left: -40px;
    background-color: #24499a;
    opacity: 0.8;
}

.google {
    margin-left: -40px;
    background-color: #e34426;
    opacity: 0.8;  
}

.twitter {
    margin-left: -40px;
    background-color: #6ddfea;
    opacity: 0.8;
}

.pinterest {
    margin-left: -40px;
    background-color: #bd2125;
}

.social-button {
    opacity: 0.8;
    -webkit-transition: all .7s ease;
    -moz-transition: all .7s ease;
    -ms-transition: all .7s ease;
    -o-transition: all .7s ease;
    transition: all .7s ease;
}

.social-button:hover {
    padding-left: 50px;
    opacity: 1;
    -webkit-transition: all .7s ease;
    -moz-transition: all .7s ease;
    -ms-transition: all .7s ease;
    -o-transition: all .7s ease;
    transition: all .7s ease;
    border-radius: 0px 10px 10px 0px;
}
/*Social Sidebar End*/

/*Navbar Settings*/
nav {
    font-family: 'Open Sans', sans-serif;
    font-size: 12.1pt;
    letter-spacing: .09px;
    font-weight: bold;
}

.navbar-nav > li{
  margin-left: 8px;
  margin-right: 8px;
}
/*Navbar Settings End*/

/*Footer Settings*/
.footer {
    opacity: 0.9;
    padding-top: 20px;
    background-color: #2E3884;
    color: #9d9d9d;
}
.footer-social {
    padding-top: 20px;
    float: right;
    list-style: none;
}
.footer-social a {
    font-size: 13pt;
    text-decoration: none;
    margin: 7px;
}
.footer-social li {
    display: inline;
}
.footer-content {
    color: #fff;
    font-size: 12pt;
}
.footer-logo {
    padding-left: 50px;
}
/*Footer Settings End*/

/*Horizontal Rule Custom Style*/
.hr-style {
    border: 0;
    height: 1px;
    background-image: 
    -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    
    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     
    -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      
    -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}
/*Horizontal Rule Custom Style End*/

/*Logo Effects*/
.logo {
  opacity: 1;
  -webkit-transition: all.2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.logo:hover {
  opacity: 0.7;
  -webkit-transition: all.2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
/*Logo Effects End*/

/*White/Orange Text Effects*/
.text-effect {
    -webkit-transition: all.2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    color: #fff;
}

.text-effect:hover {
    -webkit-transition: all.2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    color: #ff5e00;
}
/*White/Orange Text Effects End*/