body {
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: all.6s ease-in-out;
        -moz-transition: all .6s ease-in-out;
        transition: all .6s ease-in-out;
        background-color:rgba(0, 0, 0, 0.0);
    }

    .top-nav-collapse {
        padding: 10px;
        -webkit-transition: all.6s ease-in-out;
        -moz-transition: all .6s ease-in-out;
        transition: all .6s ease-in-out;
        background-color:rgba(46, 56, 132, 0.8);
    }
}

.intro-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #fff;
    background-image: url(http://i.imgur.com/6ukJf1v.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.intro-header {
    height: 60%;
    padding-top: 150px;
    text-align: center;
    background: #fff;
    background-image: url(http://i.imgur.com/6ukJf1v.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.fitness-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #eee;
}

.lifestyle-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #fff;
}

.resources-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #eee;
}

.about-section {
    height: 50%;
    padding-top: 75px;
    text-align: center;
    background: #fff;
}